* {
  background-color: rgb(247, 241, 194);
}
h1 {
  text-align: center;
}

dt {
  font-size: x-large;
  font-weight: 900;
  color: rgb(74, 151, 74);
}
dd {
  font-size: larger;
  font-weight: bold;
}

h1,
h2 {
  color: rgb(74, 151, 74);
  font-family: "Merriweather", serif;
}
.name {
  font-style: italic;
}
p,
ul,
ol {
  font-size: large;
  font-weight: bold;
}
footer p {
  text-align: center;
}
