* {
  background-color: rgb(247, 241, 194);
}
h1 {
  text-align: center;
}

h1,
h2 {
  color: rgb(74, 151, 74);
  font-family: "Merriweather", serif;
  text-transform: capitalize;
}

.name {
  font-style: italic;
}
p,
ul,
ol {
  font-size: large;
  font-weight: bold;
}
.paragraphs {
  text-indent: 3em;
}
footer p {
  text-align: center;
}
